Source: kelunik-certificate
Section: php
Priority: optional
Maintainer: Katharina Drexel <katharina.drexel@bfh.ch>
Build-Depends:
 debhelper-compat (= 13),
 phpab,
 pkg-php-tools,
Standards-Version: 4.6.1
Homepage: https://github.com/kelunik/certificate
Vcs-Browser: https://github.com/kelunik/certificate
Vcs-Git: https://github.com/kelunik/certificate.git
Rules-Requires-Root: no

Package: php-kelunik-certificate
Architecture: all
Depends:
 ${misc:Depends},
 ${phpcomposer:Debian-require},
Suggests:
 ${phpcomposer:Debian-suggest},
Replaces:
 ${phpcomposer:Debian-replace},
Breaks:
 ${phpcomposer:Debian-conflict},
Provides:
 ${phpcomposer:Debian-provide},
Description: ${phpcomposer:description}
 Library to parse certificates and get information about validity a.o.
 .
 Access certificate details and transform between different formats.
